/* Custom Properties */
:root {
  /* Colors */
  --text-gray-300: #e5e7eb;
  --text-gray-400: #d2d5da;
  --text-gray-500: #9da3ae;
  --text-gray-600: #6c727f;
  --text-gray-800: #4d5562;
  --text-gray-900: #0d121c;
  --grey-900: #212936;
  --text-blue: #3565a9;
  --green-200: #d9f9e6;
  --green-400: #43946c;
  --green-700: #347659;
  --silver: #dbdcdd;
  --white: #fff;
  --black: #000;

  /* Font Sizes */

  --fs-300: 0.8125rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.25rem;
  --fs-700: 1.5rem;
  --fs-800: 2rem;
  --fs-900: 2.5rem;
}
